@import '~@angular/material/theming';
@include mat-core();

// Variables - Define the palettes for your theme using the Material Design palettes available in palette.scss
$theme-default-primary: mat-palette($mat-blue);
$theme-default-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$theme-default-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme-default: mat-light-theme($theme-default-primary, $theme-default-accent, $theme-default-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($theme-default);