<mat-toolbar color="primary">
	<mat-toolbar-row class="button-settings">
		<button mat-button *ngIf="sidenav" (click)="sidenav.toggle()">
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		<mat-card-content>
			<button mat-button>
				<mat-icon>exit_to_app</mat-icon>
			</button>
		</mat-card-content>
	</mat-toolbar-row>
</mat-toolbar>

