<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="role" [mode]="mode" [opened]="!this.isHandset">
		<mat-toolbar>
			<a routerLink="/panel" routerLinkActive="bg-light">
				<mat-icon>account_circle</mat-icon>
				Profile
			</a>
		</mat-toolbar>
		<mat-divider></mat-divider>
		<mat-nav-list>
			<a mat-list-item routerLink="/panel" routerLinkActive="bg-light">
				<mat-icon>desktop_mac</mat-icon>
				Dashboard
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<app-toolbar [sidenav]="sidenav"></app-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>